{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
{% if not author %}
    <h1>This Author doesn't exist</h1>
{% else %}
    <h2>{{ author.name }}</h2>
    <h3>Bio:</h3>
    <p>{{ author.bio }}</p>
    <h3>Recipes:</h3>
    <ul>
    {% for recipe in recipes %}
        <li>
            <a href="/recipe/{{ recipe.id }}/">{{ recipe.title }}</a>
        </li>
    {% endfor %}
    {% for favorite in favorites %}
        <a href="/recipe/{{favorite_id}}/">{{ favorite }}</a>
    {% empty %}
        <li>There isn't any favorites yet.</li>
    {% endfor %}
</ul>
{% endif %}

{%if request.user.is_superuser%}
<h3> Hello {{request.user}}!</h3>
{% endif %}
<a href="/">Go to Home Page</a>