{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'CSS/index.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<h1>{{key}}</h1>
<h2>Am I Authenticated? {{ request.user.is_authenticated }}</h2>
<h2>A recipe box for your favorite recipes from your favorite authors!</h2>
        <p><a href="/newauthor/">New Author </a></p>
        <p><a href="/newarticle/">New Article </a></p>
<h3>Click on any recipe below to get started! </h3>
<ul>
    {% for recipe in recipes %}
    <li>
        <a href="/recipe/{{ recipe.id }}/">{{ recipe.title }}</a>
    </li>
    {% endfor %}
</ul>
</html>