{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<form action="" method="post">
    
    {% csrf_token %}
    <label for="title">Title:</label>
    <br>
    <p>{{ form.title }}</p>

    {%if request.user.is_staff%}
    <label for="author">Author:</label>
    <br>
    <p>{{ form.author }}</p>
    <br>
    {% endif %}
    <label for="description">Description:</label>
    <p>{{ form.description }}</p>
    <br>
    <label for="instructions">Instructions:</label>
    <p>{{ form.instructions }}</p>
    <br>
    <label for="time_required">Time Required:</label>
    <p>{{ form.time_required }}</p>
    <br>
    <input type="submit" value="Submit Article">   
</form>  
{% if request.user.is_authenticated %}
    <a href="{% url 'add_favorite' id=recipe_id %}?next={% url 'about_recipe' id=recipe_id|urlencode%}">
    <button>Add to Favorites</button></a>
{% endif %}
{%if request.user.is_superuser%}
<h3> Hello {{request.user}}!</h3>
{% endif %}
<a href="/">Go to Home Page</a>