{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

{% if not recipe %}
        <h1>This Recipe doesn't exist</h1>
    {% else %}
        <h2>{{ recipe.title }}</h2>
        <p>To review more recipes click here: <a href="/author/{{ recipe.author.id }}/">{{ recipe.author.name }}</a></p>
        <h3>Time Required:</h3>
        <p>{{ recipe.time_required }}</p>
        <h3>Description:</h3>
        <p>{{ recipe.description }}</p>
        <h3>Instructions:</h3>
        <p>{{ recipe.instructions }}</p>
    {% endif %}